*.swp
*.test
.idea
/**/ffjson-inception*/
/.vscode/
/build/
/ci-archive/
/ci-repo/
/local/
/vendor/**/*_386.go
/vendor/**/*_arm.go
/vendor/**/*_arm64.go
/vendor/**/*_dragonfly.go
/vendor/**/*_freebsd.go
/vendor/**/*_mips.go
/vendor/**/*_mips64.go
/vendor/**/*_mips64le.go
/vendor/**/*_mipsle.go
/vendor/**/*_netbsd.go
/vendor/**/*_openbsd.go
/vendor/**/*_plan9.go
/vendor/**/*_ppc64.go
/vendor/**/*_ppc64le.go
/vendor/**/*_s390x.go
/vendor/**/*_solaris.go
/vendor/**/*_sparc64.go
/vendor/**/*_test.go
/vendor/**/*_windows.go
/vendor/**/Godeps/
/vendor/**/fuzz/
/vendor/**/test/
/vendor/**/testdata/
/vendor/**/vendor/
/vendor/**/windows/
scratch
supervisord.pid
